.enclosure {
  padding-top: 140px;
  background-image: url("../../assets/hero-background.png");
  height: 100vh;
}

.enclosure .bgHeroCard {
  opacity: 0;
  margin: auto;
  background-image: url("../../assets/heroCard.png");
  background-repeat: no-repeat;
  width: max-content;
  background-size: 100% 100%;
  cursor: url("../../assets/cursor.svg"), pointer;
  transform-origin: top center;
  position: relative;
  z-index: 1;
}

.enclosure .heroCard article {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.enclosure .heroCard {
  padding: 60px 83px 60px 86px;
  display: flex;
  margin: auto;
}

.enclosure .heroCard h1 {
  margin: 20px 0px;
  font-size: 61px;
  font-style: normal;
  font-weight: 600;
  line-height: 66.743px;
  letter-spacing: -0.24px;
  color: rgb(229 231 235);
}

.enclosure .heroCard p {
  color: rgb(107 114 128);
}

.enclosure .heroCard .heroLeftBlock {
  margin: 0px 50px;
  object-fit: contain;
}

.enclosure .heroCard .grey {
  color: var(--clr-grey-600);
}

.enclosure .heroCard .slickCard {
  background-color: rgb(26, 0, 154);
  color: white;
  border-radius: 8342.023px;
  padding: 5px;
  padding-left: 8px;
  width: max-content;
  font-size: 14px;
  font-weight: 400;
}

.enclosure .heroCard .slickCard .spacingArrowRight {
  margin-left: 5px;
  margin-right: 3px;
}
